<form (ngSubmit)="onSubmit()" #videoForm="ngForm">
  <div class="form-group">
    <label for="name">Название</label>
    <input type="text" class="form-control" id="name"
           required
           [(ngModel)]="subjectCreate.name" name="name"
           #name="ngModel">
    <div [hidden]="name.valid || name.pristine"
         class="alert alert-danger">
      Имя - обязательное поле
    </div>
  </div>

  <div class="form-group">
    <label for="group">Группа для публикации</label>
    <select class="form-control" id="group"
            required
            [(ngModel)]="subjectCreate.group" name="group"
            #group="ngModel">
      <option *ngFor="let group of groups" [value]="group">{{group.name}}</option>
    </select>
    <div [hidden]="group.valid || group.pristine" class="alert alert-danger">
      Группа - обязательное поле
    </div>
  </div>

  <button type="submit" class="btn btn-default addNewVideo"
          [disabled]="!videoForm.form.valid">
    Создать предмет
  </button>

</form>
